body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:azure;
}
.top{
    height: 50px;
    padding-bottom: 10px;

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,rgb(25, 53, 6),rgb(30, 187, 56));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.nav{
    text-align: right;
    position:relative;
    top: 10px;
    right:150px;

}

.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5% ;
}

h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.olivedrab-highlight{
    
    color:olivedrab;
}
.orange-highlight{
    color:orange;
}
p{
    color: dimgray;
    ;
}

.half-width img{
    width: 100%;
}


section{
    height: 550px;
    padding-bottom: 150px;
}


.link-button1{
    text-decoration: none;
    background-image:linear-gradient(45deg,rgb(142, 35, 124),orchid);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;


}


.LATEST-area{
    height: 550px;
    padding-bottom: 10px;
    

}

.single-LATEST{
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;

   
}
.single-LATEST img{
    height: 200px;
    width: 310px;
    margin-right: 5px;
}

.LATEST-Center{
    text-align: center;
}
.one-by-third-width{
    width: 25%;
    float: left;
    padding-left: 2%;
    margin-left: 5% ;
}

.inquiry{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 800px 200px;
    background-position: center;
    width: 100%;
    height: 200px;
    padding-bottom: 50px;
    margin: 0px;

}

.work-inq{
    color:white;
    font-weight: bold;
    font-size: 50px;
    position:relative;
    top: 90px;
    left:330px;
    
   
}
.chat-button{
    position:relative;
    bottom: 20px;
    left:900px;
    text-decoration: none;
    background-image:linear-gradient(45deg,rgb(142, 35, 124),orchid);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;


}




.footer{
    text-align: center;
    background-image:linear-gradient(90deg,rgb(7, 2, 34), 
    rgb(35, 21, 97) ) ;
    padding: 50px 50px;
    
    color: white;
    font-weight: bold;
    height: 180px;
 
}
.footer img{
      float:inline;
      height: 50px;
      width: 50px;
}
